@model IEnumerable<RVASProject.Models.Rental>

@{
    ViewBag.Title = "ShowAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowAll</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Car.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new { carId = item.CarId, customerId = item.CustomerId })
        </td>
    </tr>
}

</table>
